---
import SocialButtons from './SocialButtons.astro';
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} BotNest. Todos los derechos reservados.
	<SocialButtons class="social-links" />

	<button id="scrollToTopBtn" aria-label="Volver arriba">↑</button>

	<script>
	const btn = document.getElementById('scrollToTopBtn');

	window.addEventListener('scroll', () => {
		if (window.scrollY > 300) {
		btn.style.display = 'block';
		} else {
		btn.style.display = 'none';
		}
	});

	btn.addEventListener('click', () => {
		window.scrollTo({ top: 0, behavior: 'smooth' });
	});
	</script>

</footer>

<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
</style>
