---
import HeaderLink from './HeaderLink.astro';
import SocialButtons from './SocialButtons.astro';
import { SITE_TITLE } from '../consts';
---

<header class="py-6 bg-white shadow-sm">
  <div class="header-wrapper flex flex-col items-center justify-center text-center gap-4">
    <img
      src="/img/logo-botnest.png"
      alt="BotNest Project"
      class="h-20 md:h-24 lg:h-28 w-auto mx-auto logo"
    />

    <nav class="flex flex-col items-center gap-2">
      <div class="flex flex-wrap justify-center gap-6">
        <HeaderLink href="/">Inicio</HeaderLink>
        <HeaderLink href="/blog">Blog</HeaderLink>
		<HeaderLink href="/herramientas">Herramientas</HeaderLink>
        <HeaderLink href="/about">Acerca de</HeaderLink>
      </div>
    </nav>
	<SocialButtons class="mt-2 text-gray-700 justify-center gap-4" />
  </div>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
